---

sudo: false

cache:
  directories:
    - vendor/bundle

language: ruby

install:
  - gem update --system --no-document || test true
  - gem install bundler --no-document || test true
  - bundle install --jobs 3 --retry 3

before_script:
  - git config --local user.email 'travis@travis.ci'
  - git config --local user.name 'Travis CI'

script:
  - bundle exec rake clobber compile test sign_hooks overcommit

rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.5
  - 2.3.1
  - ruby-head

env:
  - CC=gcc
  - CC=clang

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: 2.0.0

branches:
  only:
    - master

notifications:
  email:
    on_success: change
    on_failure: change

addons:
  code_climate:
    repo_token: 02530029b1e956220f05076c590b84b9ab078362c9083312eb2ad41cab138408
  apt:
    sources:
      - debian-sid
    packages:
      - indent
      - shellcheck
