---

dist: trusty
sudo: required

cache:
  directories:
    - .bundle/gems

language: ruby

before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      brew update;
      brew install shellcheck clang-format@3.8;
      ln -s /usr/local/opt/clang-format@3.8/bin/clang-format /usr/local/bin/clang-format;
      if [ "$LIBEDIT" = "true" ]; then
        brew install libedit;
      fi
    fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      sudo apt-get install shellcheck;
      if [ "$LIBEDIT" = "true" ]; then
        sudo apt-get install libedit-dev;
      fi
    fi

install:
  - if [ "$LIBEDIT" = "true" ]; then
      rvm reinstall "$TRAVIS_RUBY_VERSION" --configure --enable-libedit
                                           --rubygems ignore;
    else
      rvm reinstall "$TRAVIS_RUBY_VERSION" --rubygems ignore;
    fi

before_script:
  - git config --local user.email 'travis@travis.ci'
  - git config --local user.name 'Travis CI'

script:
  - script/ci.sh
  - if [ "$TRAVIS_RUBY_VERSION" != "ruby-head" ] && [ "$TRAVIS_RUBY_VERSION" != "ruby-head-clang" ]; then
      bundle exec codeclimate-test-reporter;
    fi

matrix:
  fast_finish: true

  allow_failures:
    - rvm: ruby-head
    - rvm: ruby-head-clang

  include:
    - os: osx
      rvm: 2.2.9
      env: LIBEDIT=false
    - os: osx
      rvm: 2.2.9
      env: LIBEDIT=true
    - os: osx
      rvm: 2.3.5
      env: LIBEDIT=false
    - os: osx
      rvm: 2.3.5
      env: LIBEDIT=true
    - os: osx
      rvm: 2.4.3
      env: LIBEDIT=false
    - os: osx
      rvm: 2.4.3
      env: LIBEDIT=true
    - os: osx
      rvm: ruby-head
      env: NOCOV=true LIBEDIT=false
    - os: osx
      rvm: ruby-head
      env: NOCOV=true LIBEDIT=true

    - os: linux
      rvm: 2.2.9
      env: LIBEDIT=false
    - os: linux
      rvm: 2.2.9
      env: LIBEDIT=true
    - os: linux
      rvm: 2.3.6
      env: LIBEDIT=false
    - os: linux
      rvm: 2.3.6
      env: LIBEDIT=true
    - os: linux
      rvm: 2.4.3
      env: LIBEDIT=false
    - os: linux
      rvm: 2.4.3
      env: LIBEDIT=true
    - os: linux
      rvm: ruby-head
      env: NOCOV=true LIBEDIT=false
    - os: linux
      rvm: ruby-head
      env: NOCOV=true LIBEDIT=true

    - ox: linux
      rvm: 2.2.9-clang
      env: LIBEDIT=false
    - ox: linux
      rvm: 2.2.9-clang
      env: LIBEDIT=true
    - os: linux
      rvm: 2.3.6-clang
      env: LIBEDIT=false
    - os: linux
      rvm: 2.3.6-clang
      env: LIBEDIT=true
    - os: linux
      rvm: 2.4.3-clang
      env: LIBEDIT=false
    - os: linux
      rvm: 2.4.3-clang
      env: LIBEDIT=true
    - os: linux
      rvm: ruby-head-clang
      env: NOCOV=true LIBEDIT=false
    - os: linux
      rvm: ruby-head-clang
      env: NOCOV=true LIBEDIT=true

branches:
  only:
    - master

notifications:
  email:
    on_success: change
    on_failure: change

addons:
  code_climate:
    repo_token: 02530029b1e956220f05076c590b84b9ab078362c9083312eb2ad41cab138408
